@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --black100: #212427;
    --black75: rgb(33, 36, 39, 0.75);
    --black50: rgb(33, 36, 39, 0.50);
    --black25: rgb(33, 36, 39, 0.25);
    --black10: rgb(33, 36, 39, 0.10);
    --offWhite: #faf9f6
}

::-webkit-scrollbar{
    @apply w-1 h-2;
}

::-webkit-scrollbar-thumb{
    @apply bg-gray-800 rounded-full;
}

::-webkit-scrollbar-track{
    @apply my-2 px-1 bg-gray-300 rounded-full;
}

@layer components{
    *{
        @apply box-border;
    }
    .customShadowForQuizCard{
        box-shadow: 8px 8px 16px var(--black25);
    }
    
    .customShadowForFooter{
        box-shadow: 1px -1px 16px var(--black25);
    }
    
    button:hover{
        @apply bg-white border-2 border-black text-black transition-all duration-300;
    }
    
    
    button:hover svg path{
        stroke: black;
    }

    @media(hover: none){
        /* this will add a fallback for touch screen devices or devices on which we can't hover */
        button:hover{
            @apply bg-black border-2 border-black text-white transition-all duration-300;
        }

        button:hover svg path{
            stroke: inver-[-1];
        }
    }
    
    button:active{
        @apply scale-95 duration-100;
    }
    
    .profilePicShadow{
        box-shadow: 0 0 16px var(--black25);
    }
    
    /* text editor styles */
    
    ul{
        @apply list-disc;
    }
    
    ol{
        @apply list-decimal;
    }
    
    li{
        @apply ml-8;
    }
    
    #editor img{
        @apply w-60 m-auto;
    }
    
    #editor a{
        @apply text-blue-700 underline;
        font-size: 1rem;
        border-radius:0;
        padding:0;
        line-height:0;
    }
    
    .functionalKeysContainer div {
        @apply p-2 rounded-lg cursor-pointer;
    }

    .icons {
        @apply size-10;
    }
    
    .functionalKeysContainer #pipe {
        @apply w-[2px] p-0 h-4 rounded-full;
    }
    
    #alignmentContainer{
        @apply w-fit;
    }

    #fontSizeContainer{
        @apply w-fit p-0 justify-between;
    }

    #alignmentContainersParent{
        @apply w-fit p-0;
    }
}



/* .font-sizes{
    @apply p-2 hover:bg-[var(--black25)] cursor-pointer;
} */

/* .functionalLetters{
    @apply font-mono text-3xl px-4 py-1 select-none rounded-lg active:bg-[var(--black25)] cursor-pointer;
} */

/* .teerStyles{
    @apply h-fit py-2 px-1 rounded-lg active:bg-[var(--black25)] cursor-pointer;
} */

/* .pipe{
    @apply text-3xl -translate-y-1;
} */

/* .alignmentIcons{
    @apply p-2 w-full cursor-pointer active:bg-[var(--black25)] rounded-lg;
} */

/* .otherFunctionalIcons{
    @apply w-fit h-fit p-1 rounded-lg active:bg-[var(--black25)] cursor-pointer;
} */